In [1]:
import pandas as pd
import os 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
import requests
from io import BytesIO

In [8]:
df=pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-i-karamnov-39/7_browser.csv', parse_dates=['date'])

In [10]:
df.head(10)

        date          browser user_type  users
0 2020-06-14    Google Chrome    People    139
1 2020-06-14    Chrome Mobile    People     35
2 2020-06-14    Google Chrome    Robots     28
3 2020-06-14   Yandex Browser    People     22
4 2020-06-14          Firefox    People     15
5 2020-06-14           Safari    People     13
6 2020-06-14          Firefox    Robots      8
7 2020-06-14  Android Browser    People      8
8 2020-06-14            Opera    People      5
9 2020-06-14    Mobile Safari    People      5

Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, содержащего Chrome в названии, и 0 в других случаях. Поместите получившуюся серию в переменную chrome_robots.

In [16]:
chrome_robots=pd.Series(np.where(df.browser.str.contains('Chrome') & df.user_type.str.contains('Robots'), 1, 0))

In [ ]:
sns.barplot(x=df.col_x, y=df.col_y)