In [23]:
import pandas as pd
import os 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import matplotlib.pyplot as plt
import numpy as np
import requests
from io import BytesIO

In [57]:
req = requests.get('https:*')

In [58]:
data = req.content

In [59]:
data

b'date,gender,users\r\n2020-06-14,Not specified,150\r\n2020-06-14,male,117\r\n2020-06-14,female,21'

In [67]:
df = pd.read_csv(BytesIO(data))

In [76]:
sa = df.users.sum()

In [77]:
sa

288

In [64]:
df['users'].value_counts(normalize=True)*100

150    33.333333
117    33.333333
21     33.333333
Name: users, dtype: float64

In [62]:
df['column'] = 1
df2 = df.groupby('users').count()
df2['percent'] = df2['column'] / len(df.index)

In [63]:
df2

       date  gender  column   percent
users
21        1       1       1  0.333333
117       1       1       1  0.333333
150       1       1       1  0.333333